/* all-modify */
body {width:100%;margin: auto; background-color:#fbfbfb;color:#777777;}
header {display:block; height:50px; width:100%;background:#ffffff;border:1px solid #cccccc;}
div.name {background-color:#4aaaa5;font-weight:600;float:left;margin-left:50px;color:#ffffff;}
div ul {float:right;width: 25%;margin-top:12px;}
div ul li{width:33%;float:left; list-style:none;text-align:center;}
ul li.ulmiddle {border-left:1px solid;border-right:1px solid;}

.inner_body{width:960px;margin:auto;}

section {width:650px; float:left; clear:left; border:1px solid #dddddd;margin-top:50px;margin-bottom:50px;background:#ffffff;}
div.inner_box{width:96%;margin:auto;}
h2 {border-bottom:2px solid; border-color:lightgray;height:50px;color:#4aaaa5}
innver_box div p{}

aside {width: 250px; height:180px; float:right; clear: right; margin:50px 0 0 5px; border:1px solid #dddddd;background:#ffffff;}
.logo_box {width:210px;margin:auto;}
.sslogo img{width:50px; height:50px;margin:0 8px;}

.foot {height:100px; width:100%; background-color:#666666;clear:both;border-top:5px solid #4aaaa5;}

/*  Index-modify */
.about_me_img img{float:left; width:150px; height: 150px;}

/* gallery-modify */
.gallery_img {width:310px; height:310px; float: left; margin:5px;border:1px solid black;}
.s_img {position:absolute; width:310px; height:310px;}
.s_img img{width:100%;}
.sp {width:310px;text-align:center;}
.sp p{background-color:#4aaaa5;color:#fbfbfb;padding:20px; margin-top:200px;position:relateive;opacity:.8;}

/* contact-modify */
input.wh{width:100%; opacity:.4;}
textarea.wh{width:100%; opacity:.4;}
